 .container {
   font-family: IRANSans;
   line-height: 21px;
 }

 .personal-detail {
   float: left;
   display: inline-block;
   font-size: 10px;
 }

 .resume-summary {
   float: right;
   display: block;
 }

 .resume-language {
   float: right;
   display: block;
 }

 .resume-certification {
   float: right;
   display: block;
   width: 100%;
 }

 .resume-social {
   float: right;
   display: block;
   width: 100%;
 }

 .user-portrait {
   background: #b8b8d8;
   width: 30%;
   display: block;
 }

 .user-portraite {
   display: block;
   background: blueviolet;
   width: 25%;
   position: relative;
 }

 .basic-contact-info {
   width: 70%;
   display: block;
   float: left;
 }

 span {
   width: 100%;
   display: inline;
 }

 ul.history.multi-line li {
   width: 95%;
 }

 .contact-detail {
   display: block;
 }

 .name-resume-title-detail {
   display: block;
 }


 .property-item_head span {
   display: inline;
 }

 div.contact-item span:first-child {
   display: inline;
 }

 .resume-header {
   width: 20px;
 }

 .name-detail {
   font-size: 23px;
   font-weight: 700;
   float: right;
   width: 45%;
   margin-top: 15px;
   color: #033b52;
   margin-bottom: 10px;
 }

 .title-detail {
   font-size: 15px;
   float: right;
   width: 45%;
   margin-top: 5px;
   color: #033b52;
 }

 .personal-detail {
   float: right;
   margin-top: 15px;
   color: #757575;
   width: 45%;
 }

 .resume-summary {
   float: right;
   display: block;
 }

 .resume-language {
   float: right;
   display: block;
 }

 .resume-certification {
   float: right;
   display: block;
   width: 100%;
 }

 .resume-social {
   float: right;
   display: block;
   width: 100%;
 }

 .user-portrait {
   background: #b8b8d8;
   width: 30%;
   display: block;
 }

 .user-portraite {
   display: block;
   width: 20%;
   float: right;
   position: absolute;
 }

 .basic-contact-info {
   width: 601px;
   display: block;
   float: right;
   margin-right: 0px;
   height: auto;
   padding-bottom: 0px;
   height: 200px;
   padding-left: 10px;
   position: relative;
   top: 2px;
 }

 span {
   width: 100%;
   display: INLINE;
 }

 ul.history.multi-line li {
   width: 100%;
 }

 .contact-detail {
   display: block;
   border-right: 2px dotted #aeb5b7;
   float: left;
   padding-right: 15px;
   margin-top: 15px;
   width: 50%;
 }

 .name-resume-title-detail {
   display: block;
 }


 .property-item_head span {
   display: inline;
 }

 div.contact-item span:first-child {
   display: inline;
 }

 .infoo.info {
   font-size: 11px;
   color: #757575;
   margin-bottom: 15px;
 }

 .resume-header {
   float: right;
   padding: 15px 5px 0;
   position: relative;
 }

 .property-item_head {
   /* margin-top: 30px; */
   margin-bottom: 10px;
 }

 .property-item_head label {
  

   font-size: 18px;
   font-weight: 700;
   color: #033b52;
   text-align: right;
   border-bottom: none;
   padding-top: 0px;
   position: relative;
   float: right;
   right: -70px;
   background: #ffffff;
   z-index: 2;
   padding-left: 5px;
   line-height: 28px;
 }

 .property-item_head {
   text-align: center;
   width: 68%;
   clear: both;
   padding-top: 0px;
   float: right;
   position: relative;
   padding-right: 18px;
   right: 60px;
 }

 .top-title {
   margin-top: 10px;
 }

 .property-item_head:after {
   content: '';
   position: absolute;
   width: 100%;
   border-radius: 5px;
   height: 2px;
   background: #033b52;
   right: -20px;
   top: 15px;
   z-index: 0;
 }

 .property-item_head span {
   color: #18252d;
 }

 .property-item_head span:after {
   content: '';
   position: absolute;
   height: 35px;
   width: 35px;
   background: #033b52;
   right: -15px;
   top: -2px;
   margin: 0px;
   float: right;
   border-radius: 5px;
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
   z-index: 2;
 }

 .property-item_head span {
   float: right;
   text-align: center;
   width: 25px;
   position: relative;
   top: 1px;
 }

 .property-item_body>*:first-child {
   margin: 0;
   font-size: 11px;
   padding: 0 5px;
   float: right;
 }

 .user-image:before {
   position: absolute;
   width: 110%;
   height: 110%;
   background: transparent;
   z-index: 5;
   right: -17px;
   border: 10px solid #2a2a2a;
   border-radius: 50%;
   top: -18px;
 }

 h2.subtitle.language-item~span label:first-child {
   width: 100%;
   color: #18252d;
   height: auto;
   font-size: 11px;
 }

 

 .property-item.social__list ul.history li span label:first-child {
   font-size: 15px;
   color: #033b52;
   background: none;
 }

 .property-item_head span {
   position: relative;
   right: 250px;
   z-index: 1;
   font-size: 20px;
   color: #033b52;
   top: 2px;
 }

 div.item-row li>span label {
   height: 100%;
   font-size: 11px;
   display: block;
   float: right;
 }

 div.item-row li label.grade i.tik {
   background: #033b52;
 }

 div.item-row li label.grade i {
   width: 50px;
   height: 8px;
   margin: 0px 0px;
   box-sizing: border-box;
   display: block;
   float: right;
   border-radius: 0;
 }

 
 
 div.item-row li>span label:first-child {
   float: right;
   color: #18252d;
   background: none;
   display: block;
   border-radius: 2px;
   padding: 0;
   margin-left: 5px;
 }

 

 .basic-contact-info {
   margin-right: 0;
   box-sizing: border-box;
   background: #fff;
   border-radius: 0 50px 0 0;
   padding-right: 20px;
   padding-bottom: 10px;
 }

 .basic__birthday {
   width: 100%;
   float: right;
 }

 .basic__marital {
   width: 100%;
   float: right;
 }

 .basic__military {
   width: 100%;
   float: right;
 }

 .property-item_head {
   border-bottom: none;
 }

 .property-item_head span i {
   z-index: 10;
   position: absolute;
   color: #ffffff;
   right: -10px;
   top: 5px;
   width: 25px;
 }

 .item-row.w4 ul.history li {
   margin-bottom: 25px;
 }

 .bar-progress.item-row.w0 ul.history span:before {
   content: '●';
   width: 13px;
   height: 25px;
   color: #033b52;
   float: right;
   font-family: emoji;
   font-weight: 800;
   margin-top: 0;
 }

 small {
   display: block;
 }

 .basic__birthday:after {
   content: '';
   position: absolute;
   color: aqua;
   width: 50px;
   height: 50px;
 }

 .skill__list ul.history li {
   width: 100%;
   position: relative;
 }

 

 .other-infos.not-drag {
   display: block;
   height: 50px;
   float: right;
 }

 .row {
   clear: both;
   background: #ffffff;
   width: 763px;
 }

 .in-snapshot .row {
   display: table;
 }

 .contact-info:after {
   content: '';
   height: 120px;
   width: 104px;
   background: #ffffff;
   position: absolute;
   top: 60px;
   right: 74px;
   z-index: 1;
 }

 ul.history h2.subtitle {
   font-size: 13px;
   margin-bottom: 5px;
   margin-top: 5px;
   width: 100%;
 }

 ul.history h3.subtitle {
   font-size: 12px;
   width: 100%;
 }

 .property-item.social__list ul.history li span label:last-child {
   font-size: 12px;
 }

 ul.history label.date {
   font-size: 11px;
   color: #5E5D5F;
 }

 label.exp-desc-title {
   font-size: 11px;
   margin-bottom: 4px;
 }

 ul.exp-desc li {
   font-size: 11px;
   margin-bottom: 0;
 }

 h3.subtitle label {
   font-size: 11px;
 }

 p.project-link {
   font-size: 12px;
 }

 .about-us {
   font-size: 12px;
 }

 ul.list-item li {
   margin-bottom: 5px;
 }

 .ui-sortable-handle:hover .property-item_head label {
   background: #eeeeee;
 }

 .ui-sortable-handle:hover .property-item_head::before {
   background: #eeeeee;
 }

 

  

 ul.history p.description {
   max-width: 100%;
   font-size: 12px;
 }

 ul.history.list-item {
   width: 80%;
 }

 ul.list-item li:last-child {
   margin-bottom: 10px !important;
 }

 label.Education-Grade {
   display: block;
 }

 .property-item {
   float: right;
   width: 100%;
 }

 ul.list-item li p {
   border-right: 0;
 }

 li.custom-list-item {
   min-height: 10px !important;
 }

 .social__list ul.history li {
   width: 100%;
 }

 .social__list div.item-row li>span label:first-child {
   padding-right: 0px !important;
 }

 .property-item.language__list li {
   width: 100%;
 }

 .language-presentation-descriptive h2.subtitle.language-item~span label:first-child,
 .language-presentation-grades h2.subtitle.language-item~span label:first-child {
   font-size: 11px;
   float: right;
   width: auto !important;
 }

 .language-presentation-descriptive h2.subtitle.language-item~span label:last-child,
 .language-presentation-grades h2.subtitle.language-item~span label:last-child {
   font-size: 11px;
   float: left;
   font-weight: bold;
 }

 li.language-presentation-stars.overall label {
   display: block;
 }

 body.no-photo div.user-image {
   visibility: hidden;
   height: 0px !important;
 }

 body.no-photo .user-base {
   width: 0;
   border: 0;
 }

 body.no-photo .basic-contact-info {
   width: 100%;
   border-bottom: 1px solid;
   height: 175px;
 }

 body.no-photo .contact-info:before {
   border-radius: 0 !important;
 }

 body.no-photo .contact-info:after {
   display: none;
 }

 body.no-photo .contact-detail {
   width: 340px;
 }